@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root{
    /* ===== Colors ===== */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #354a82;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;
    --border-color: #dcdcdc;
    --hover-color-text:#fff;
    --hover-text-body:#354a82;
    --img-color:brightness(0);
    --header-color:#354a82;
}
*{ /*reset css */
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background: #fff;
    transition: 0.4s;
    max-width: 1620px;
    margin: 0 auto;
}

.header{
    background-color: #fff;
    padding: 20px 0;
    left: 0;
    position: fixed;
    top: 0;
    transition:.3s ease;
    width: 100%;
    z-index: 999;
}
.menu{
    align-items: center;
    display: flex;
    font-size: 1.2rem;
    height: 100%;
    justify-content: space-between;
}
.menu-left,.menu-right{
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
}
.sticky{
    box-shadow: 0 8px 24px hsl(210deg 8% 62% / 20%);
    padding: 10px 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.header ul{
    display: flex;
    align-items: center;
    list-style: none;
    color: #fff;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    text-transform: uppercase;
}
.header a{
    color: rgb(27, 27, 27);
}
.menu-pc{
    padding: 0 50px;
}
.menu-left ul li{
    margin-right: 50px;
}
.menu-left ul li:hover{
    font-weight: 700;
}
.menu-right,.menu-right-mobile{
    font-size: 24px;
}
.menu-right-mobile{
    display: none;
}
.menu-right i{
    margin-left: 40px;
}
.menu-mobile{
    width: 100%;
    overflow: hidden;
    background: #fff;
    color: #000;
    transition: 0.3s;
    overflow-y: auto;
    display: none;
}
.menu-mobile ul{
    padding: 20px;
    display: block;
}
.menu-mobile ul li{
    font-size: 16px;
    display: flex;
    font-weight: 700;
    justify-content: center;
    line-height: 50px;
    word-wrap: normal;
    border-bottom: 1px solid #ddd;
}
.menu-mobile ul li:hover{
    background: #eee;
}
.menu-right-mobile .menu1{
    position: absolute;
    opacity: 0;
    transition: 0.3s;
}
.menu-right-mobile .close{
    opacity: 1;
}
.toggle .menu1{
    opacity: 1;
    transition: 0.3s;
}
.toggle .close{
    opacity: 0;
    transition: 0.3s;
}
@media only screen and (max-width: 600px){
    .menu-mobile{
        display: block;
        position: fixed;
        right: -100%;
        height: 100vh;
}
}
@media only screen and (max-width: 600px){
    .open{
        right: 0;
        height: 100vh;
}
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
}
.logo img{
    width: 90px;
}
.main{
    margin-top: 100px;
    width: 100%;
    padding: 0 50px;
}
#suggest-slider{
    text-align: center;
    font-size: 10px;
    font-weight: 500;
    background: #000;
    color: #fff;
    padding: 10px 0;
}
#suggest-slider .owl-nav{
    display: none;
}
#suggest-slider .owl-dots{
    display: none;
}
#suggest-slider-2{
    background: #e9e9e9;
    text-align: center;
    font-size: 10px;
    font-weight: 500;
    color: #000;
    padding: 10px 0;
    margin: 10px 0 20px 0;
}
#suggest-slider-2 .owl-stage-outer{
    padding: 5px 0;
    z-index: 1;
}

#suggest-slider-2 .owl-nav{
    display: none;
}
#suggest-slider-2 .owl-dots{
    display: none;
}
#banner-slider img{
    width: 100%;
}
.text{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    font-size: 12px;
}
.row-three-banner{
    justify-content: space-between;
    display: flex;
    padding: 0 0 20px 0;
}
.row-three-banner .row{
    overflow: hidden;
    transition: 0.3s;
    display: flex;
    justify-content: center;
}
.row-three-banner .row img{
    height: 100%;
    -webkit-backface-visibility: hidden;
    transition: all .3s;
}
.row-three-banner .row img:hover{
    transform: scale(1.2);
}
.what-new{
    padding: 80px;
    background: #aabec6;
}
.what-new .title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}
.what-new .title h1{
    font-weight: 800;
}
.product {
    position: relative;
    display: block;
}
.slider{
    display: flex;
    justify-content: space-between;
}
.product img{
    width: 100%;
    left: 50%;
    top: 0;
}
.product .img-hover{
    opacity: 0;
    transition: 0.4s;
}
.product .image{
    position: relative;
}
.product .img{
    position: absolute;
    transition: 0.4s;
}
.product:hover .img-hover{
    opacity: 1;
    visibility: visible;
    transition: 0.4s;
}
.product:hover .img{
    visibility: hidden;
    opacity: 0;
}
.product h2{
    padding: 5px 0;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
}
.product h3{
    text-align: center;
    padding:0 0 10px 0;
}
.product .btn {
    display: flex;
    border: none;
    color: #fff;
    cursor: pointer;
    background: #000;
    font-weight: 600;
    overflow: hidden;
    position: relative;
    text-transform: uppercase;
    border-radius: 20px;
}
.product .button{
    display: flex;
    justify-content: center;
}
.product .btn .btn__txt {
    padding: 12px 30px;
    width: 100%;
    transition:  transform .5s ease,-webkit-transform .5s ease;
}
.product .btn .btn__icon{
    align-items: center;
    display: flex;
    font-size: 24px;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    transform: translateX(-100%);
    width: 100%;
    transition:  transform .5s ease,-webkit-transform .5s ease;
}
.btn:hover .btn__txt{
    transform: translateX(100%);
}
.btn:hover .btn__icon{
    transform: translateX(0);
}
.size-color{
    display: flex;
    justify-content: space-between;
    font-weight: 500;
}
.seaction{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.weekly-best{
   padding: 40px 20px;
}
.weekly-best .title{
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-weight: 800;
    padding-top: 40px;
    padding-bottom: 60px;
}
.weekly-best .content{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 60px;
}
.weekly-best .content .product{
    width: 100%;
    transition: 0.4s;
    padding-bottom: 20px;
}
.weekly-best .content .product:hover{
    box-shadow: 0 10px 12px rgb(0 0 0 / 10%);
}
.policy-card{
    width: 24%;
    align-items: center;
    box-shadow: 0 8px 24px hsl(210deg 8% 62% / 20%);
    display: flex;
    justify-content: flex-start;
    padding: 20px 20px 20px 0;
    transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
    transition: transform .5s ease,-webkit-transform .5s ease;
}
.policy-card:hover{
    transform: translateY(-15px);
}
.policy-card__icon {
    align-items: center;
    color: #000;
    display: flex;
    justify-content: center;
    width: 30%;
    font-size: 3rem;
}
.policy-card__info__description {
    color: #8d8d8d;
    font-size: 12px;
}
.policy-card__info__name {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}
.footer{
    display: flex;
    justify-content: space-between;
    width: 60%;
}
.title-footer{
    padding: 20px 0;
}
.content-footer{
    display: block;
}
.content-footer ul li{
    padding: 5px 0;
    font-size: 14px;
    font-weight: 600;
}
.content-footer ul li a{
    color: #656565;

}
.last-row{
    width: 30%;
}
.last-row .title-footer1{
    display: none;
}
.logoFooter{
    width: 110px;
}
.logoFooter img{
    width: 100%;
}
.footer1{
    display: flex;
    justify-content: space-between;
    padding:0 100px 50px;
}
.title-footer1{
    display: none;
    justify-content: space-between;
}
.title-footer2{
    display: flex;
    justify-content: space-between;
}
.last-row .title-footer2{
    display: none;
}
.title-footer1 i{
    display: none;
    font-size: 28px;
    align-items: center;
    text-align: center;
}
.title-footer2 i{
    display: none;
    font-size: 28px;
    align-items: center;
    text-align: center;
}
.copyright{
    padding: 10px;
    width: 100%;
    text-align: center;
    background: #dfdfdf;
}
.copyright .logo-footer img{
    width: 120px;
}
