@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
:root{
    /* ===== Colors ===== */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #354a82;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;
    --border-color: #dcdcdc;
    --hover-color-text:#fff;
    --hover-text-body:#354a82;
    --img-color:brightness(0);
    --header-color:#354a82;
}
*{ /*reset css */
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Oswald";
    background: #fff;
    transition: 0.4s;
    margin: 0 auto;
}
.loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #ffffff;
    bottom: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader i {
    font-size: 70px;
    color:  #16A596;
}

.header{
    background-color: #fff;
    left: 0;
    position: fixed;
    top: 0;
    transition:.3s ease;
    width: 100%;
    z-index: 999;
}
.menu{
    align-items: center;
    display: flex;
    font-size: 1.2rem;
    height: 100%;
    justify-content: space-between;
}
.menu-left,.menu-right{
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
}
.sticky{
    box-shadow: 0 8px 24px hsl(210deg 8% 62% / 20%);
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.header ul{
    display: flex;
    align-items: center;
    list-style: none;
    color: #fff;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    text-transform: uppercase;
}
.header li a{
    color: rgb(27, 27, 27);
    padding: 25px 0;
}
.menu-pc{
    max-width: 1620px;
    margin: 0 auto;
    padding: 0 50px;
}
.menu-left ul li{
    margin-right: 30px;
}
.menu-left ul li::after{
    content: " ";
    display: block;
    height: 2px;
    background-color: rgb(26, 26, 26);
    margin-top: 2px;
    transform: scale(0);
    transition: all 0.3s ease-out;
}
.menu-left ul li:hover::after{
    transform: scale(1);
    background-color: rgb(27, 27, 27);
}
.menu-left ul li:hover{ 
    color: rgb(0, 0, 0);
} 

.header .menu-pc .sub-list{
    display: block;
    background: #fff;
    min-width: 240px;
    max-width: 180%;
    position: absolute;
    z-index: 99;
    top: 150%;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    -webkit-box-shadow: 0px 6px 15px rgb(0 0 0 / 20%);
    box-shadow: 0px 6px 15px rgb(0 0 0 / 20%);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.menu-left .sub-list li{
    line-height: 40px;
    border-bottom: 1px solid #ecf0f1;
    margin-left: 10px;
    margin-right: 0;
}
.menu-left .sub-list li::after{
    display: none;
}
.menu-left .sub-list li:hover a{
    color: #004da1;
}
.sub-list li a{
    transition: 0.3s;
    color: rgb(122, 122, 122);
    font-size: 14px;
}
.menu-left ul li:hover .sub-list{
    pointer-events: auto;
    visibility: visible;
    top: 100%;
    opacity: 1;
}

.menu-right,.menu-right-mobile{
    font-size: 1.7rem;
}
.menu-right-mobile{
    display: none;
}
.menu-right i{
    cursor: pointer;
    margin-left: 20px;
}
.search-box{
    display: flex;
    align-items: center;
}
.search-box input {
    line-height: 28px;
    padding: 3px 8px 3px 40px;
    color: #000;
    border-radius: 4px;
    width: 100%;
    background: #efefef;
    border: none;
    font-size: 13px;
    font-weight: 500;
    margin: 0;
    display: inline-block;
    height: 35px;
    transition: 0.3s;
}
.search-box input:focus-visible{
    outline: none;
    border: 1px solid rgb(211, 211, 211);
    transition: 0.3s;
}
.search-box label{
    position: absolute;
    transition: opacity 150ms linear;
}
.search-box label i{
    font-size: 1.5rem;
    margin-left: 9px;
}
.search-box-mobile{
    display: none;
    align-items: center;
}
.search-box-mobile input {
    line-height: 28px;
    padding: 3px 8px 3px 40px;
    color: #000;
    border-radius: 4px;
    width: 100%;
    background: #efefef;
    border: none;
    font-size: 13px;
    font-weight: 500;
    margin: 0;
    display: inline-block;
    height: 35px;
    transition: 0.3s;
}
.search-box-mobile input:focus-visible{
    outline: none;
    border: 1px solid rgb(211, 211, 211);
    transition: 0.3s;
}
.search-box-mobile label{
    display: flex;
    align-items: center;
    position: absolute;
    transition: opacity 150ms linear;
}
.search-box-mobile label i{
    font-size: 1.5rem;
    margin-left: 9px;
}

.menu-mobile{
    width: 100%;
    overflow: hidden;
    background: #fff;
    color: #000;
    transition: 0.3s;
    overflow-y: auto;
    display: none;
}
.menu-mobile ul{
    padding: 20px;
    display: block;
}
.menu-mobile .sub-list{
    padding: 0;
}
.menu-mobile .list a{
    padding: 0;
}
.menu-mobile ul li{
    font-size: 16px;
    font-weight: 700;
    line-height: 50px;
    word-wrap: normal;
    border-bottom: 1px solid #ddd;
}
.menu-mobile .list i{
    text-align: center;
    font-size: 25px;
}
.menu-mobile .list a{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu-mobile ul li ul{
    display: none;
}
.menu-right-mobile .menu1{
    position: absolute;
    opacity: 0;
    transition: 0.3s;
}
.menu-right-mobile .close{
    opacity: 1;
}
.toggle .menu1{
    opacity: 1;
    transition: 0.3s;
}
.toggle .close{
    opacity: 0;
    transition: 0.3s;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
}
.logo img{
    width: 90px;
}
.logo .sticky1{
    padding: 10px 0;
}
.logo a{
    padding: 20px 0;
    transition: 0.3s;
}
.main{
    max-width: 1620px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 0 50px;
}
#suggest-slider{
    text-align: center;
    font-size: 10px;
    font-weight: 500;
    background: #000;
    color: #fff;
    padding: 10px 0;
}
#suggest-slider .owl-nav{
    display: none;
}
#suggest-slider .owl-dots{
    display: none;
}
#suggest-slider-2{
    background: #e9e9e9;
    text-align: center;
    font-size: 10px;
    font-weight: 500;
    color: #000;
    padding: 10px 0;
    margin: 10px 0 20px 0;
}
#suggest-slider-2 .owl-stage-outer{
    padding: 5px 0;
    z-index: 1;
}

#suggest-slider-2 .owl-nav{
    display: none;
}
#suggest-slider-2 .owl-dots{
    display: none;
}
#banner-slider img{
    width: 100%;
}
.text{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    font-size: 12px;
}
.row-three-banner{
    justify-content: space-between;
    display: flex;
    padding: 0 0 20px 0;
}
.row-three-banner .owl-dots{
    display: none;
}
.row-three-banner .row{
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    transition: 0.3s;
    display: flex;
    justify-content: center;
}
.row-three-banner .row .BannerEffect::after{
    content: "";
    display: inline-block;
    width: 150%;
    height: 80%;
    position: absolute;
    right: 30%;
    top: -75%;
    background: rgba(255, 255, 255, 0.25);
    transform: skewY(-50deg);
    transition: all 0.5s ease 0s;
}
.row-three-banner .row .BannerEffect:hover::after{
    right: -75%;
    top: 120%;
}

.row-three-banner .row img{
    height: 100%;
    -webkit-backface-visibility: hidden;
    transition: all .3s;
}
.row-three-banner .row .BannerEffect:hover img{
    transform: scale(1.1);
}
.what-new{
    padding: 80px;
    background: #e9e9e9;
    border-radius: 10px;
}
.what-new .title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}
.what-new .title h1{
    font-size: 40px;
    font-weight: 800;
}
.product {
    position: relative;
    display: block;
}
.slider{
    display: flex;
    justify-content: space-between;
}
#banner-slider .owl-stage-outer{
    border-radius: 10px;
}
.slider .owl-nav{
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-232%);
    color: #fff;
    display: flex;
    justify-content: space-between;
}
.slider .owl-nav.disabled {

    display: flex;
}
.slider .owl-nav .owl-prev {
    width: 40px;
    height: 40px;
    background: #fff !important;
    border-radius: 100%;
    margin-left: -20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
    border: 1px solid #ddd !important;
}
.slider .owl-nav .owl-next {
    width: 40px;
    height: 40px;
    background: #fff !important;
    border-radius: 100%;
    margin-right: -20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
    border: 1px solid #D6D2C4 !important;
}
.slider .owl-nav span{
    transform: translateY(-4px);
    font-size: 25px;
    color: #000;
}
.product img{
    width: 100%;
    left: 50%;
    top: 0;
}
.product .img-hover{
    opacity: 0;
    transition: 0.4s;
}
.product .image{
    position: relative;
}
.product .img{
    position: absolute;
    transition: 0.4s;
}
.product:hover .img-hover{
    opacity: 1;
    visibility: visible;
    transition: 0.4s;
}
.product:hover .img{
    visibility: hidden;
    opacity: 0;
}
.product h2{
    padding: 5px 0;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
}
.product h3{
    text-align: center;
    padding:0 0 10px 0;
}
.product .btn {
    font-family: 'Oswald';
    display: flex;
    border: none;
    color: #fff;
    cursor: pointer;
    background: #000;
    font-weight: 600;
    overflow: hidden;
    position: relative;
    text-transform: uppercase;
    border-radius: 25px;
}
.product .button{
    display: flex;
    justify-content: center;
}
.product .btn .btn__txt {
    padding: 12px 35px;
    font-size: 15px;
    width: 100%;
    transition:  transform .5s ease,-webkit-transform .5s ease;
}
.product .btn .btn__icon{
    align-items: center;
    display: flex;
    font-size: 24px;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    transform: translateX(-100%);
    width: 100%;
    transition:  transform .5s ease,-webkit-transform .5s ease;
}
.btn:hover .btn__txt{
    transform: translateX(100%);
}
.btn:hover .btn__icon{
    transform: translateX(0);
}
.size-color{
    display: flex;
    justify-content: space-between;
    font-weight: 500;
}
.seaction{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.weekly-best{
   padding: 40px 20px 20px 20px;
}
.weekly-best .title{
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-weight: 800;
    padding-top: 40px;
    padding-bottom: 10px;
    margin-bottom: 60px;
    border-bottom: 1px solid #ddd;
}
.weekly-best .content{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 20px;
}
.weekly-best .content .product{
    width: 100%;
    transition: 0.4s;
    padding-bottom: 20px;
}
.weekly-best .content .product:hover{
    box-shadow: 0 10px 12px rgb(0 0 0 / 10%);
}
.policy-card{
    width: 24%;
    align-items: center;
    box-shadow: 0 8px 24px hsl(210deg 8% 62% / 20%);
    display: flex;
    justify-content: flex-start;
    padding: 20px 20px 20px 0;
    transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
    transition: transform .5s ease,-webkit-transform .5s ease;
}
.policy-card:hover{
    transform: translateY(-15px);
}
.policy-card__icon {
    align-items: center;
    color: #000;
    display: flex;
    justify-content: center;
    width: 30%;
    font-size: 3rem;
}
.policy-card__info__description {
    color: #8d8d8d;
    font-size: 14px;
}
.policy-card__info__name {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}
/*BANNER BOTTOM */
.Banner-Bottom{
    margin-top: 20px;
    position: relative;
    overflow: hidden;
}
.Banner-Bottom img{
    transform: scale(1.05);
    width: 100%;
    transition: 0.8s;
    vertical-align: middle;
}
.Banner-Bottom:hover img{
    transform: scale(1.1);
}
.Banner-Bottom::after{
    content: "";
    display: inline-block;
    width: 150%;
    height: 80%;
    position: absolute;
    right: 30%;
    top: -75%;
    background: rgba(255, 255, 255, 0.25);
    transform: skewY(-50deg);
    transition: all 0.5s ease 0s;
}
.Banner-Bottom:hover::after{
    right: -75%;
    top: 120%;
}

/* NEWS */
.News{
    margin: 0 auto;
    max-width: 1620px;
    padding: 0 100px;
    padding-bottom: 40px;
}
.News h3{
    border-bottom: 1px solid #ddd;
    padding-top: 60px;
    margin-bottom: 50px;
    font-size: 40px;
    text-align: center;
}
.News-Content{
    display: flex;
    justify-content: space-around;
}
.News-Content .owl-dots{
    display: none;
}
.News-Content .owl-nav {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-232%);
    color: #fff;
    display: flex;
    justify-content: space-between;
}
.News-Content .owl-nav .owl-prev {
    margin: 0;
    width: 40px;
    height: 40px;
    background: #fff !important;
    border-radius: 100%;
    margin-left: -20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
    border: 1px solid #ddd !important;
}
.News-Content .owl-nav .owl-next {
    margin: 0;
    width: 40px;
    height: 40px;
    background: #fff !important;
    border-radius: 100%;
    margin-right: -20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
    border: 1px solid #ddd !important;
}
.News-Content .owl-nav.disabled{
    display: flex;
}
.News-Content .owl-nav span {
    transform: translateY(-4px);
    font-size: 25px;
    color: #000;
}
.News-Content .item-img{
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    height: 200px;
}
.News-Content .item img{
    object-fit: cover;
    transition: 0.4s;
}
.News-Content .item img:hover{
    transform:scale3d(1.1,1.15,1.2);
}
.News-Content .item-footer{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    border-top: 1px solid #ddd;
}
.News-Content .item-footer .item-view{
    font-weight: 500;
    cursor: pointer;
}
.News-Content .item-detail .short-description{
    font-size: 15px;
    color: rgb(122, 122, 122);
    margin-bottom: 10px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
}
.item-detail a{
    color: rgb(24, 24, 24);
    cursor: pointer;
    margin-top: 10px;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}
/*FOOTER-NEWSLETTER */
.footer-newsletter{
    padding-bottom: 20px;
}
.footer-newsletter .container{
    padding:30px;
    align-items: center;
    display: flex;
    justify-content: center;
    background: #004da1;
    color: #fff;
}
.footer-newsletter .container .newsletter-title{
    padding-right:15px ;
    text-align: right;
}
.footer-newsletter .container .newsletter-title h3{
    font-size: 28px;
}
.footer-newsletter .container .newsletter-form{
    width: 40%;
    padding-left:15px ;
    display: inline-flex;
}
.newsletter-form input{
    line-height: 28px;
    padding:25px 8px 25px 20px;
    color: #000;
    border-radius: 5px 0 0 5px;
    width: 100%;
    background: #fff;
    border: none;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    margin: 0;
    display: inline-block;
    height: 35px;
    transition: 0.3s;
}
.newsletter-form input:focus-visible{
    outline: none;
}
.newsletter-form button{
    cursor: pointer;
    padding: 0 20px;
    white-space: nowrap;
    background: #004da1;
    border: 2px solid #fff;
    color: #fff;
    font-family: "Oswald";
    font-size: 20px;
}
/* FOOTER */
.footer{
    display: flex;
    justify-content: space-between;
    width: 60%;
}
.title-footer{
    padding: 20px 0;
}
.content-footer{
    display: block;
}
.content-footer ul li{
    padding: 5px 0;
    font-size: 14px;
    font-weight: 600;
}
.content-footer ul li a{
    color: #656565;

}
.last-row{
    width: 30%;
}
.last-row .title-footer1{
    display: none;
}
.logoFooter{
    width: 110px;
}
.logoFooter img{
    width: 100%;
}
.footer1{
    max-width: 1620px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding:0 100px 50px;
}
.title-footer1{
    display: none;
    justify-content: space-between;
}
.title-footer2{
    display: flex;
    justify-content: space-between;
}
.last-row .title-footer2{
    display: none;
}
.title-footer1 i{
    display: none;
    font-size: 28px;
    align-items: center;
    text-align: center;
}
.title-footer2 i{
    display: none;
    font-size: 28px;
    align-items: center;
    text-align: center;
}
.copyright{
    padding: 10px;
    width: 100%;
    text-align: center;
    background: #e9e9e9;
}
.copyright .logo-footer img{
    width: 120px;
}

.move-on-top {
    position: fixed;
    right: 20px;
    bottom: 45px;
    z-index: 10;
}
.move-on-top i {
    width: 55px;
    height: 55px;
    background: linear-gradient(#004da1,#16A596); 
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    font-size: 24px;
    font-weight: 400;
    color: #fff;
}
